.new-post{
padding: 16px 0;
    border-bottom: 1px solid #ccc;
}
.new-post header,
.posts header{
    margin-bottom:20px;
}
.posts .post{
    padding-left: 10px;
    border-left:3px solid #a21b24;
    margin-bottom: 30px;
}
.posts .post .info{
    color: #aaa;
    font-style: italic;
}
.success{
    border:1px solid green;
    background: #d1f9da;
    color: green;
    text-align: center;
    padding: 1px;
}